@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body, #root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  flex: 1;
}

@media (max-width: 576px) {
  .container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

