<ng-container>
  <div class="container" *ngIf="blog">
    <div class="panel panel-default">
      <div class="panel-heading">
        <label>
          {{ blog.owner.name }}
        </label>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-10">
            <p>
              <label class="">Email: </label>
              <a href="mailto:{{ blog.owner.email }}">
                {{ blog.owner.email }}
              </a>
            </p>
            <p>
              <label class="">Phone Number: </label>
              <a href="tel:{{ blog.owner.phoneNumber }}">
                {{ blog.owner.phoneNumber }}
              </a>
            </p>
            <p>
              <label class="">Description: </label>
              {{ blog.owner.description }}
            </p>
          </div>
          <div class="col-sm-2">
            <!-- <img class="img-rounded contractor-profile-image"
                 [src]="imageService.downloadUrl(blog.owner.photo)" alt="profile-photo"
                 *ngIf="blog.owner.photo"> -->
          </div>
        </div>
      </div>
      <div class="panel-footer">
<!--        <button class="btn btn-primary" (click)="openModal(template)">-->
<!--          Contact-->
<!--        </button>-->
      </div>
    </div>
</ng-container>

<!--<ng-template #template>-->
<!--  <app-contact-contractor [contractor]="blog" (closeModalEvent)="closeModal()"></app-contact-contractor>-->
<!--</ng-template>-->
