<div class="container">
  <h2>Contractors</h2>
  <p>This is the list of all types Contractors:</p>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th> Name </th>
        <th> Email </th>
        <th> Phone </th>
        <th> Actions </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let blog of blogs">
        <td> {{ blog.owner.name }} </td>
        <td>
          <a href="mailto:{{ blog.owner.email }}">
            {{ blog.owner.email }}
          </a>
        </td>
        <td>
          <a href="tel:{{ blog.owner.phoneNumber }}">
            {{ blog.owner.phoneNumber }}
          </a>
        </td>
        <td>
          <a [routerLink]="[blog.id]" class="btn btn-primary"> Details </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
